@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos de la barra de navegación */
.barranavegacionhp {
  background-color: #002d6b; 
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estilos de la lista de navegación ESTO LA MODIFICA */
.barranavegacionhp ul {
  list-style: none;
  display: flex; /* Hace que los elementos de la lista se muestren en línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  margin: 0;
  padding: 0;
}

/* puntero / barra navegacion */
.barranavegacionhp ul li :hover {
  color: #Bf050d;
}

/* Estilos de cada elemento de la lista de navegación */
.barranavegacionhp li {
  margin-right: 20px; /* Espacio entre elementos de la lista */
  margin-left: 20px;
}

/* Estilos de los enlaces de la lista de navegación */
.barranavegacionhp a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

/* Estilos para el menú desplegable */
.dropdown-hp {
  position: relative;
}

.dropdown-contenido-hp {
  display: none;
  position: absolute;
  top: 100%;
  left: 20;
  background-color: #2c56a3;
  min-width: 285px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
}

/* menu desplegable*/
.dropdown-hp:hover .dropdown-contenido-hp {
  display: block;
  text-align: center;
}

/* Estilo para los elementos del menú desplegable */
.dropdown-contenido-hp li {
  padding: 10px;
  width: 85%;
}

.dropdown-hp li {   /* creo que es lista valores */
  margin-bottom: 10px;
  text-align: center;
}


